@import "tailwindcss";

.container {
  @apply max-w-screen-2xl px-6;
}

.text-primary {
  @apply text-purple-500;

}

@layer base{
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
