.add-to-cart-text {
  color: purple;

  mat-icon {
    color: purple;
    font-size: 22px;   // ✅ change icon size here
    width: 22px;
    height: 22px;
  }
}


.product-card {
  transition : transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
  transform : translateY(-10px);
  box-shadow : 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
}