/* Increase icon size */
.cart-icon {
  font-size: 36px !important;
  width: 36px;
  height: 36px;
  line-height: 36px;
}

/* Increase icon button container */
::ng-deep .mat-mdc-icon-button {
  width: 56px;
  height: 56px;
}

a {
  cursor: pointer;

  &:hover {
    color: #999;
  }

  &.active {
    color: #7d00fa;
  }
}
