.cart-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

/* Nav links */
a {
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: #999;
  }

  &.active {
    color: #7d00fa;
  }
}
